html, body, #root {
   height: 100%;
   width: 100%;
   background-color: rgb(245, 238, 230);
}

.appWrapper {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   /* color: rgb(206, 106, 139); */
}